/node_modules
/public/hot
/public/storage
/storage/*.key


/storage/logs/*.log
/storage/logs/*.txt

/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/config/bot.php

.idea/workspace.xml


